<section class="container">

  <!-- start of form and form toggler -->
    <div class="text-center">
        <section class="toggleCreateButton">
          <button id="addQuote" (click)  = 'toggleAddQuote()'>Proceed to posting a quote.</button>
        </section>
        <section class="quoteForm" id="quoteForm" style="display: none">
          <app-quote-form (addQuote) = "addNewQuote($event)"></app-quote-form>
        </section>
    </div>
  <!-- end of form and form toggler  -->
 
  <!-- start of quote cards -->
  <section *ngFor = 'let quote of quotes'>
      <div class="card quoteText mb-5 border-warning">
        <div class="card-body">
          <h3 class="card-text text-left text-lg-center">
            {{quote.quote}}
          </h3>
        </div> <!-- end card body -->
        <div class="card-footer quoteDetails">
            <app-quote-detail [quote] = 'quote' (isTerrible) = 'terribleQuote($event)'></app-quote-detail>
        </div> <!-- end card footer-->
      </div> <!-- end card -->
  </section>
  <!-- end of quote cards -->
</section>
