.navbar {
  background-color: beige;
}
.nav-item {
  font-weight: bold;
  padding: 20px;
  color: #000;
}

@media(max-width:767px){
  .nav-item {
    padding: 5px;
  }
  .card-text {
    font-size: 1.0em;
  }
}
@media(min-width:768px){
  .nav-item {
    padding: 10px;
  }
  .card-text {
    font-size: 1.2em;
  }
}
@media(min-width:992px){
  .nav-item {
    padding: 15px;
  }
  .card-text {
    font-size: 1.4em;
  }
}