<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' 
  integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' 
  crossorigin='anonymous'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section>

  <div class="quoteMetadata">
      <h5> <span class="d-sm-inline-block">&#8211;</span> <span class="d-none d-md-inline-block">&#8212;</span>&nbsp;{{quote.author}}</h5>
  </div>

  <div class="tools">
    <button (click) = 'upvoteQuote()' id="upvote" class = "upvote btn-success">upvote <i class='fas fa-angle-up'></i> {{quote.upvotes}}</button>&nbsp;&nbsp;&nbsp;
    <button (click) = 'downvoteQuote()' id="downvote" class = "downvote bg-dark text-white">downvote <i class='fas fa-angle-down'></i> {{quote.downvotes}}</button>&nbsp;&nbsp;&nbsp;
    <button (click) = 'deleteQuote(true)' class = "delete bg-danger text-white">delete <i class="fa fa-remove"></i></button>
  </div>

  <div class="quoteTags">tags:&nbsp;
    <span><a class="text-info" href="">{{quote.tag}}</a></span>
  </div>

  <div class="submissionDetails">
      <p>submitted by:&nbsp;<span class="text-secondary font-italic">{{quote.submitter}}</span>,&nbsp; <span class="text-secondary"> 2 hours ago.</span></p>
  </div>

</section>