<section>

  <div class="quoteMetadata">
      <h3>{{quote.author}}</h3>
      <h4>Upvotes: <span> {{quote.upvotes}} </span></h4>
      <h4>Downvotes: <span> {{quote.downvotes}} </span></h4>
  </div>

  <div class="tools">
    <button class = "upvote">upvote</button>&nbsp;&nbsp;&nbsp;
    <button class = "downvote">downvote</button>&nbsp;&nbsp;&nbsp;
    <button (click) = 'quoteTerrible(true)' class = "delete">delete</button>
  </div>

  <div class="quoteTags">tags:&nbsp;
    <span>{{quote.tag}}</span>
  </div>

  <div class="submissionDetails">
      <p>submitted by:&nbsp;{{quote.submitter}},&nbsp; <span> 2 </span> hours ago.</p>
  </div>

</section>