<section>
    <p>Before adding a new quote please first do a search and make sure it doesn't already exist in the database.</p>
    <form #quoteForm = 'ngForm' (ngSubmit) = 'submitQuote()'>
      <fieldset class="form-group">
        <label for="quote">quote&nbsp;<small class="form-text d-inline-block text-muted">(No need for quotation marks)</small></label>
        <textarea class="form-control" id="quoteText" rows="4" [(ngModel)] = "newQuote.quote" #quote = 'ngModel' name="quote" required></textarea>
        <div class="text-warning" [hidden] = "quote.valid || quote.pristine">
          <p>Quote is required.</p>
        </div>
      </fieldset>
    
      <fieldset class="form-group">
        <label for="author">author&nbsp;<small class="form-text d-inline-block text-muted">(Start typing for auto-complete. Only put the name please.)</small></label>
        <input class="form-control" type="text" id="author" [(ngModel)] = 'newQuote.author' #author = 'ngModel' name="author" required>
        <div class="text-warning" [hidden] = "author.valid || author.pristine">
          <p>Author is required.</p>
        </div>
      </fieldset>
    
      <fieldset class="form-group">
        <label for="tags">tags&nbsp;<small class="form-text d-inline-block text-muted">(Comma separated: inspirational, science, tech, humor etc. Limit 10)</small></label>
        <input class="form-control" type="text" id="tags" [(ngModel)] = 'newQuote.tag' #tags = 'ngModel' name="tags" required>
        <div class="text-warning" [hidden] = "tags.valid || tags.pristine">
            <p>At least one tag is required.</p>
          </div>
      </fieldset>

      <fieldset class="form-group">
        <label for="submitter">submitter&nbsp;<small class="form-text d-inline-block text-muted">(Your name. Otherwise defaults to anonymous.)</small></label>
        <input class="form-control" type="text" name="submitter" id="submitter" [(ngModel)] = 'newQuote.submitter'>
      </fieldset>
      
      <button class="btn-warning mb-5" type="submit">Post Quote</button>
      
    </form>
</section>